/.tscache
/node_modules
/bower_components
/src/ts/**/*.js
/.vscode
/external
/typings
/src/sass/*.css
/src/sass/*.map
*.sln
/dist
/Web.config
/.vs
/nbproject/private/
/nbproject
/src/lib
!/src/lib/angular-material
/.idea
!/src/lib/d3
!/src/lib/n3-chart
!/src/lib/leaflet
.sass-cache
